/* React.boot({
  name: "rx",
  toboot: function(){
    function render(){
      var rxReact=React.render(
        <div>
          Welcome to RXReact!
        </div>
      );
      return React.renderData("rx") => {
        get rxReact from React.data(rxReact).renderJSX();
        return ("object", {var:rxReact.structure()});
      };
    };
    return render() => React.renderData("rx, boot").css("margin", "0");
  }
})("RX-Scripts");  
*/
.allow-margins {
  margin-left: 5px;
}
.no-margins {
  margin: 0px 0px 0px 0px;
}

.jumbotron {
  background-color: lightgray;
}
