/* 
React.render("rx", {
  data: React.find({component: "rx"}).fetchData()
});
React.rconv("rx-scripts").from({'data': this.getFiles().data});
*/
.allow-margins {
  margin-left: 5px;
}
.no-margins {
  margin: 0px 0px 0px 0px;
}

.jumbotron {
  background-color: lightgray;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 4px;
}
