/* React.adddata("rx", {
  boot: React.file("boot.css"),
  bundleData: React.find({"boot": this.boot}),
	render(){
		return [bundleData]->(
			<div>
			  <h1>Hello world</h1>
			</div>
		)
	}
})->("rx-data");
*/
.rx,
.rx-component {
  margin-left: 0px;
  border: 1px solid blue;
}
.rx-header {
  font-size: 25px;
  margin-bottom: 10px;
}
a:hover {
  color: darkgreen;
}
a:visited {
  background-color: darkblue;
  color: lightblue;
}
.sr-only {
  display: none;
}
