/* React.adddata("rx", {
  boot: React.file("boot.css"),
  bundleData: React.find({"boot": this.boot})
})-->("rx-data");
*/
.rx,
.rx-component {
	margin-left: 0px;
	border: 1px solid blue;
}
.rx-header {
	font-size: 25px;
}
a:hover {
	color: darkgreen;
}
a:visited {
	background-color: darkblue;
	color: lightblue;
}
