#root {
  margin: 0px;
  font-family: "Arial", sans-serif;
}
#new-post {
  width: 420px;
  height: 195px;
  border-radius: 10px;
  border: 1px solid darkblue;
}
#new-post:hover {
  border: 2px solid darkgreen;
}
.btn-300 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  box-shadow: 0px 300px 300px rgba(0, 0, 0, 0.1);
}
.btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  box-shadow: 0px 200px 50px rgba(0, 0, 0, 0.1);
}
.navbar-collector {
  background-color: #fffff3;
}

.navbar-brand {
  margin-left: 25px;
}

.navbar-items {
  border: 1px solid #ccc;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .navbar-collector {
    background-color: #eee;
  }
  .navbar-brand {
    margin-left: 20px;
  }
}
